// horizontal bar
.theme-search-section {
display: flex;
height: 300px;
}

//child elements
.theme-search-instructions {
  // background-color: #123456;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 1.4em;
  }
}

.theme-search-zone {
  // background-color: #452165;
  flex-grow: 2 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  flex-grow: 1;

  form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    height: 25px;
    width: 80%;
    background-color: rgba(255,255,255,.15);
    border: none;
    font-size: 1.2em;
    padding: 4px 10px;
    &:focus {
      outline: none;
    };
  }
}

.theme-search-items {
  // background-color: #f42581;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    margin-top: 0;
  }
}

.theme-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 16px;
}


.main-content {
 display: flex;
 & > * {
  flex: 1 0 50%;
  text-align: center;
 }
}
.content-articles{
  background-color: green;
}
.content-meetups{
  background-color: red;
}

.content-container {
}
