<div class="container home-container">
  <div class="theme-search-section">
    <div class="theme-search-instructions">
      <p>Select themes you are interested in:</p>
    </div>
    <div class="theme-search-zone">
      <form action="">
        <input type="text" name="theme">
      </form>
    </div>
    <div class="theme-search-items">
      <h3>Your current interests</h3>
      <div class="theme-card-container">
        <div class="user-theme-card"><span>Ruby</span><i class="far fa-minus-square"></i></div>
        <div class="user-theme-card"><span>IOT</span><i class="far fa-minus-square"></i></div>
        <div class="user-theme-card"><span>Rails</span><i class="far fa-minus-square"></i></div>
        <div class="user-theme-card"><span>TDD</span><i class="far fa-minus-square"></i></div>
        <div class="user-theme-card"><span>Python</span><i class="far fa-minus-square"></i></div>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="content-articles">
      <h2>Article list</h2>
      <div class="content-container">

        <div class="article-card">
          <div class="card-up" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('https://assets-tt-com.nmo.at/images/2019/06/15740184.20632009.91e6b18126a04ed320140b3adbf0b291.jpg');">
            <h4>Great article</h4>
            <div class="card-upvotes"> V 142</div>
          </div>
          <div class="card-down">
            <div class="card-content">
              <div class="card-summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos in ullam eligendi, laboriosam aliquam quas exercitationem! Ipsum ratione corporis ex accusamus, assumenda nemo, quisquam exercitationem adipisci minima explicabo a! Quod.</div>
              <div class="card-theme-container">
                <div class="article-theme">TDD <a href="#">X</a></div>
                <div class="article-theme">Ruby <a href="#">X</a></div>
                <div class="article-theme">IOT <a href="#">X</a></div>
                <div class="article-theme">IOT <a href="#">X</a></div>
                <div class="article-theme">IOT <a href="#">X</a></div>
              </div>
            </div>
            <div class="card-comments-section">
              <div class="comment-form"><input type="" name="" placeholder="Enter your comment"></div>
              <div class="comments-list">4 comments</div>
            </div>
          </div>
        </div>

        <div class="article-card"></div>
        <div class="article-card"></div>
        <div class="article-card"></div>
        <div class="article-card"></div>
      </div>
    </div>
    <div class="content-meetups">
      <h2>Meetup list</h2>
      <div class="content-container">
        <div class="meetup-card">

        </div>
        <div class="meetup-card"></div>
        <div class="meetup-card"></div>
        <div class="meetup-card"></div>
      </div>
    </div>
  </div>
</div>


