<div class=" home-container">
  <div class="theme-search-section">
    <div class="theme-search-instructions">
      <p>Select themes you are interested in:</p>
    </div>
    <div class="theme-search-zone">
      <form action="/themes">
        <input id="search-bar"type="text" name="theme" placeholder="javascript, python, rails, ...">
        <div class="search-buttons">
          <input type="submit" name="search" value="Search articles">
          <input type="submit" name="search" value="Search meetups">
          <input type="submit" name="search" value="Add to interests">
        </div>
      </form>
    </div>
    <div class="theme-search-items">
      <h3>Your current interests</h3>
      <div class="theme-card-container">
        <div class="user-theme-card"><span>Ruby</span><i class="far fa-minus-square"></i></div>
        <div class="user-theme-card"><span>IOT</span><i class="far fa-minus-square"></i></div>
        <div class="user-theme-card"><span>Rails</span><i class="far fa-minus-square"></i></div>
        <div class="user-theme-card"><span>TDD</span><i class="far fa-minus-square"></i></div>
        <div class="user-theme-card"><span>Python</span><i class="far fa-minus-square"></i></div>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="content-articles">
      <h2>Article list</h2>
      <div class="content-container">
        <% if @articles %>
          <% @articles.each do |article| %>
            <%= render partial: "shared/article", locals: { article: article }  %>
          <% end %>
        <% else %>
          <div class="search-error">No articles found, try again!</div>
        <% end %>
      </div>
    </div>
    <div class="content-meetups">
      <h2>Meetup list</h2>
      <div class="content-container">
        <% if @meetups %>
          <% @meetups.each do |meetup| %>
            <%= render partial: "shared/meetup", locals: { meetup: meetup }  %>
          <% end %>
        <% else %>
          <div class="search-error">No meetups</div>
        <% end %>
      </div>
    </div>
  </div>
</div>


