<div class="theme-card-container">

  <% if user_themes.any? %>
    <% user_themes.each do |user_theme| %>
      <div class="user-theme-card">
        <span><%= user_theme.theme.name.capitalize %></span>
        <%= link_to user_theme_path(user_theme), method: :delete do %>
          <i class="far fa-minus-square"></i>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>No interests selected yet!</p>
  <% end %>
</div>
