nav {
  display: flex;
  background-color: rgba(0,0,0,.15);
  height: 60px;
  align-items: center;
  justify-content:center;
  margin: 0;
  position: relative;

  h1 {
    font-family: $headings;
    font-weight: 400;
    font-size: 2.4em;
    margin: 0;
  }

  .nav-right {
    position: absolute;
    right: 20px;
    // top: 15px;
    .fa-bars, #login{
      font-size: 30px;
    }
  }
}
