// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/random";

// External libraries
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  margin: 0;
}

h1, h2, h3 {
  font-family: $headings;
  font-weight: 400;
}

body, p, span, h4 {
  font-family: $text;
}

a {
  color: $text-color;
  &:visited {
    color: $text-color;
  };
}
